{{#calendar}}
  <ul>
    {{#each this}}
      <li>
        {{#if time}}
          <div class="date">{{time}}</div>
        {{/if}}

        {{#if link}}
          {{#if title}}
            <h3 class="title">
              <a href="{{link}}">
                {{title}}
              </a>
            </h3>
          {{else}}
            <h3 class="title">
              {{#if time}}
                <a href="{{link}}">{{time}}</a>
              {{else}}
                <a href="{{link}}">event</a>
              {{/if}}
            </h3>
          {{/if}}
        {{else}}
          {{#if title}}
            <strong>{{title}}</strong>
          {{/if}}
        {{/if}}

        {{#if text}}
          {{{text}}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/calendar}}
