{{#calendar}}
  <ul>
    {{#each this}}
      <li>
        {{#if time}}
          <div class="date">{{time}}</div>
        {{/if}}

        {{#ifCond link '&&' title}}
          <h3 class="title">
            <a href="{{link}}">
              {{title}}
            </a>
          </h3>
        {{else}}

          {{#if link}}
            <h3 class="title">
              {{#if time}}
                <a href="{{link}}">{{time}}</a>
              {{else}}
                <a href="{{link}}">event</a>
              {{/if}}
            </h3>
          {{/if}}

          {{#if title}}
            <stong>{{title}}</strong>
          {{/if}}
        {{/ifCond}}

        {{#if text}}
          {{{text}}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/calendar}}
