<div class="row {{ type }} {{ background }}" style="
  {{#if background-color}}
    background: {{ background-color }};
  {{/if}}
  {{#if background-image}}
    background-image: {{ background-image }};
  {{/if}}
  {{#if color}}
    color: {{ color }};
  {{/if}}
">
  <div class="grid-full">
    {{#if title}}
      <h3>{{ title }}</h3>
    {{/if}}
  {{#calendar}}
    <ul>
      {{#each this}}
        <li>
          <div class="date">{{ time }}</div>
          <h3 class="title">
            <a href="{{ link }}">
              {{ title }}
            </a>
          </h3>
          {{{ text }}}
        </li>
      {{/each}}
    </ul>
  {{/calendar}}
  </div>
</div>