<div class="
  row
  case-filter
  {{ type }}
  {{#if color}} color-{{{color}}} {{/if}}
  {{#if background-color}} background-{{{background-color}}} {{/if}}">
  <div class="grid-full">
    <ul>
      {{#each categories.technology}}
        <li class="filter" data-class="{{ name }}">
          <i class="{{ icon }}"></i>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
