<div class="
  columns
  has-background
  {{#if extra-classes}} {{extra-classes}} {{/if}}
  {{#if background-color}} background-{{{background-color}}} {{/if}}
  {{#if color}} color-{{{color}}} {{/if}}
  "
  style="
  {{#if background-color}}
    background-color: {{{hexFromString background-color }}};
  {{/if}}
  {{#if color}}
    color: {{{ hexFromString color }}};
  {{/if}}
  "
>
  <div class="grid-full row">
    {{#each blocks}}
      <div class="col-xs">
        <div class="row {{#if extra-classes}} {{extra-classes}} {{/if}}">
          {{#if image}}
            <img class="col-xs-5" src="{{ image }}" />
          {{/if}}

          {{#if title}}
            <h3 class="col-xs-5">{{ title }}</h3>
          {{/if}}

          {{#if mdtext}}
            <div class="col-xs">{{{ md mdtext }}}</div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
