<div class="
  row
  partial
  columns
  has-background
  columns-count-{{ blocks.length }}
  {{#if background-color}} background-{{{background-color}}} {{/if}}
">
  <div class="grid-full">
    {{#each blocks}}
      <div class="column">
        {{#if image}}
          <img class="column--image" src="{{ image }}" />
        {{/if}}
          <h3 class="column--title">{{ title }}</h3>
        {{#if text}}
          <div class="column--text">{{ text }}</div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
