<div
  class="
    row
    partial
    contact-us
    {{type}}
    {{extra-classes}}
    {{#if background-color}} background-{{{background-color}}} {{/if}}
    {{#if color}} color-{{{color}}} {{/if}}
    {{#if overflow}} overflow transparent {{/if}}
  ">
  <div class="grid-full">
    <div class="contact-us__container">
      {{#if button-href}}
        <div class="contact-us__item">
          <div class="contact-us__text">
            {{#if text}}{{{markdown text}}}{{/if}}{{#if mdtext}}{{{md mdtext}}}{{/if}}
          </div>
        </div>
        <div class="contact-us__item">
          <a class="contact-us__link" href="{{{button-href}}}">{{button-text}}</a>
        </div>
      {{/if}}
    </div>
  </div>
</div>
