<div class="row partial-{{ type }}">
  <ul>
    {{#each contributions}}
      <li class="partial-contribution__type">
        <a href="{{ url }}">
          <img src="{{ logo }}" alt="{{ title }}" style="animation-delay: 0.5s; animation-duration: 1s;" class="animated fadeInDown animate" data-delay="0.5s" data-duration="1s">
        </a>
        <h3>{{ title }}</h3>
        <p>{{ text }}</p>
      </li> 
    {{/each}}
  </ul>
</div>