<div
  class="
    row
    partial
    contact-us
    {{type}}
    {{extra-classes}}
    {{#if background-color}} background-{{{background-color}}} {{/if}}
    {{#if color}} color-{{{color}}} {{/if}}
  "
  style="
    {{#if background-image}}
      background-image: url({{background-image}});
    {{/if}}
    {{#if height}}
      height: {{height}};
    {{/if}}
    {{#if background-color}}
      background-color: {{{hexFromString background-color}}};
    {{/if}}
    {{#if background-position}}
      background-position: {{background-position}};
    {{/if}}
  ">
  <div class="grid-full">
    {{#if button-href}}
      {{#if text}}{{{markdown text}}}{{/if}}
      {{#if mdtext}}{{{md mdtext}}}{{/if}}
        <a href="{{{button-href}}}">{{button-text}}</a>
    {{/if}}
  </div>
</div>
