<div class="row {{ type }}">
  <ul>
    {{#each contributions}}
      <li>
        <a href="{{ url }}">
          <img src="{{ logo }}" alt="{{ title }}" style="animation-delay: 0.5s; animation-duration: 1s;" class="animated fadeInDown animate" data-delay="0.5s" data-duration="1s">
        </a>
        <h4>{{ title }}</h4>
        <p>{{ text }}</p>
      </li> 
    {{/each}}
  </ul>
</div>