 <a href="{{ url }}" class="coworker-element">
  <span class="coworker-element__wrapper">
    <span class="coworker-element__overlay"></span>
    <img class="coworker-element__image" src="{{logo}}"/>

    <span class="coworker-element__text">
      <h4 class="coworker-element__coworker-name">
        {{this.name.first}} {{this.name.last}}
      </h4>
      <br/>
      <p class="coworker-element__coworker-job hidden-mobile hidden-mobile-landscape">{{this.frontmatter.job}}</p>
      <p class="coworker-element__coworker-email hidden-mobile hidden-mobile-landscape hidden-tablet hidden-mobile-landscape">{{this.frontmatter.email}}</p>
      <p class="coworker-element__coworker-phone hidden-mobile hidden-mobile-landscape hidden-tablet hidden-mobile-landscape">{{this.frontmatter.social-media.mobile}}</p>
    </span>
  </span>
</a>
