<div class="row footer flex">
  <div class="grid-full">
    <div class="footer__block">
      <h4 class="title">Besök oss</h4>
      <ul>
        <li class="title"><strong>Iteam Solutions AB</strong></li>
        <li>Tegnérgatan 28</li>
        <li>113 59 Stockholm</li>
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="title">Kontakta oss</h4>
      <ul>
        <li class="phone">T: 08-26 70 90</li>
        <li class="mail">
          <a href="mailto:info@iteam.se">E: info@iteam.se</a>
        </li>
      </ul>
    </div>
    <div class="social footer__block">
      <h4>Följ oss</h4>
      <ul>
        {{#each social}}
          <li>
            <a href="{{ url }}" class="{{ class }}">
              <i class="ion-social-{{ class }}"></i>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="title">Kommande händelser</h4>
      {{#calendar}}
        {{#each this}}
          <article>
            <a href="{{link}}">
              <h4 class="title">
                {{title}}
              </h4>
              <time class="date">{{time}}</time>
            </a>
          </article>
        {{/each}}
      {{/calendar}}
    </div>
  </div>
</div>