<div class="row partial {{ type }} {{ extra-classes }}" style="
  {{#if background-image}}
    background-image: url({{ background-image }});
  {{/if}}
  {{#if height}}
    height: {{height}};
  {{/if}}
  {{#if min-height}}
    min-height: {{min-height}};
  {{/if}}
  {{#if background-color}}
    background-color: {{{ hexFromString background-color }}};
  {{/if}}
  {{#if background-position}}
    background-position: {{background-position}}
  {{/if}}
">
  <div class="fullview__overlay">
    <div class="grid-full">
      <div class="fullview__content">
        <h2>{{ title }}</h2>
        {{#if bullets}}
          <ul class="fullview__bullets">
            {{#each bullets}}
              <li>{{ this }}</li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if text}}{{#markdown}}{{ text }}{{/markdown}}{{/if}}
        {{#if mdtext}}{{{md mdtext}}}{{/if}}
      </div>
      {{#each side-images}}
        <img class="fullview__side-image image-{{@index}}" src="{{ this }}" alt="">
      {{/each}}
    </div>
  </div>
</div>
