<div
  class="box partial hero {{{classList this}}}"
  style="{{{styleHelper this}}}">

  <div class="hero__overlay">
    <div class="grid-full">
      <div class="hero__content">
        <h2>{{ title }}</h2>
        {{#if bullets}}
          <ul class="hero__bullets">
            {{#each bullets}}
              <li>{{ this }}</li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if text}}{{{markdown text}}}{{/if}}
        {{#if mdtext}}{{{md mdtext}}}{{/if}}
      </div>
      {{#each side-images}}
        <img class="hero__side-image image-{{@index}}" src="{{ this }}" alt="">
      {{/each}}
    </div>
    {{#if hasArrow}}
      <div class="image__down-arrow"
        {{#if down-bg}}
          style="background: {{{ hexFromString down-bg }}}; color: {{{ hexFromString down-color }}}"
        {{/if}}>
        <i class="ion-chevron-down"></i>
      </div>
    {{/if}}
  </div>
</div>
