<div class="row {{ type }} {{ background }}" style="background: {{ background-color }}; height: {{ height }}">
  {{#if start}}
    <h1>{{ title }}</h1>
    {{#if image}}
      <img src="{{ image.src }}" alt="{{ image.alt }}">
    {{/if}}
    {{#if hasDown}}
      <div class="down" {{#if down-bg}} style="background: {{ down-bg }}; color: {{ down-color }}" {{/if}}>
        <i class="ion-chevron-down"></i>
      </div>
    {{/if}}
  {{else}}
    <img src="{{ image.src }}" alt=" {{ image.alt }}">
  {{/if}}
</div>