<div class="row {{ type }} {{ background }} {{#if parallax}} parallax {{/if}}" style="{{#if background-color}} background: {{ background-color }}; {{/if}} height: {{ height }}; {{#if background-image}} background-image: {{ background-image }} {{/if}}">
  {{#if start}}
    <div class="{{ type }}-inner">
      <h1>{{ title }}</h1>
      {{#if image}}
        <img src="{{ image.src }}" alt="{{ image.alt }}">
      {{/if}}
      {{#if hasDown}}
        <div class="down" {{#if down-bg}} style="background: {{ down-bg }}; color: {{ down-color }}" {{/if}}>
          <i class="ion-chevron-down"></i>
        </div>
      {{/if}}
    </div>
  {{else}}
    <img src="{{ image.src }}" alt=" {{ image.alt }}">
  {{/if}}
</div>