<div class="row {{ type }}" style="background: {{ background }}; height: {{ height }}">
  {{#if start}}
    <h1>{{ title }}</h1>
    {{#if image}}
      <img src="{{ image.src }}" alt="{{ image.alt }}">
    {{/if}}
    {{#if hasDown}}
      <div class="down" style="background: {{ downBg }}">
        <i class="ion-chevron-down"></i>
      </div>
    {{/if}}
  {{else}}
    <img src="{{ image.src }}" alt=" {{ image.alt }}">
  {{/if}}
</div>