<div class="row partial {{ type }} {{ background }} {{#if animate}} wow fadeIn {{/if}} {{#if parallax}} parallax {{/if}}" style="{{#if background-color}} background: {{ background-color }}; {{/if}} height: {{ height }}; {{#if background-image}} background-image: {{ background-image }} {{/if}}">
  {{#if overlay}}
    <div class="image__overlay {{overlay}}"></div>
  {{/if}}

  {{#if start}}
    <div class="{{ type }}__content">
      <div class="{{ type }}__title {{#if animate}} animate fadeInUp {{/if}}">{{{ title }}}</div>
      {{#if image}}
        <img src="{{ image.src }}" alt="{{ image.alt }}">
      {{/if}}
      {{#if hasDown}}
        <div class="image__down-arrow" {{#if down-bg}} style="background: {{ down-bg }}; color: {{ down-color }}" {{/if}}>
          <i class="ion-chevron-down"></i>
        </div>
      {{/if}}
    </div>
  {{else}}
    <img src="{{ image.src }}" alt=" {{ image.alt }}">
  {{/if}}
</div>
