<div class="row partial instagram {{#if extra-classes}}{{extra-classes}}{{/if}}" {{#if background-color}}style="background-color: {{{ hexFromString background-color }}};"{{/if}}>
  <div
    class="instagram__content wow fadeIn"
    data-instagram-query="{{social-media.instagram}}"
    data-instagram-count="{{instagram-count}}"
    data-instagram-resolution="{{instagram-resolution}}"></div>
</div>
