{{#if hide-navigation}}
  <div id="navbar" class="row">
    <div class="grid-full">
      <a href="/"><img src="/content/images/iteam_white.png" alt="" id="logo"></a>
      <ul class="nav">
      </ul>
    </div>
  </div>
{{else}}
  <div class="navicon"></div>
  <div id="navbar" class="row colored-element__{{this.page-color}} background">
    <div class="grid-full">
      <a href="/">
        <!--img src="/content/images/iteam_i_white.png" alt="" id="logo_i" class="visible-mobile visible-mobile-landscape visible-tablet visible-mobile-landscape"-->
        <!--img src="/content/images/iteam_white.png" alt="" id="logo" class="hidden-mobile hidden-mobile-landscape hidden-tablet hidden-mobile-landscape"-->
        <img src="/content/images/iteam_white.png" alt="" id="logo" />
      </a>
      <div id="close-navbar"></div>
      <ul class="nav">
        {{#pages route="./src/pages/" start="/"}}
          {{#each data}}
            <li class="{{this.frontmatter.categories}}">
              {{#if this.logo}}
                <img src="{{this.logo}}"/>
              {{/if}}
              <a href="{{this.url}}" class="border">{{this.menutitle}}</a>
            </li>
          {{/each}}
        {{/pages}}
      </ul>
    </div>
    <div class="navicon"></div>
  </div>
{{/if}}
