<div class="row {{ type }} {{ extra-classes }}" style="
  {{#if background-image}}
    background-image: url({{ background-image }});
  {{/if}}
">
  <div class="numbered-list__overlay">
    <div class="grid-full">
      <div class="numbered-list__content">
        <h2>{{ title }}</h2>
        {{#if bullets}}
          <ul class="numbered-list__bullets">
            {{#each bullets}}
              <li>{{ this }}</li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if text}}
          <p>{{ text }}</p>
        {{/if}}        
      </div>
      {{#each side-images}}
        <img class="numbered-list__side-image image-{{@index}}" src="{{ this }}" alt="">
      {{/each}}
    </div>
  </div>
</div>