<div class="row {{ type }}" style="
  {{#if background-image}}
    background-image: url({{ background-image }});
  {{/if}}
">
  <div class="full">
    <div class="grid-full">
      <h2>{{ title }}</h2>
      {{#if bullets}}
        <ul>
          {{#each bullets}}
            <li>{{ this }}</li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if text}}
        <p>{{ text }}</p>
      {{/if}}
      
      {{#each side-images}}
        <img class="side-image image-{{@index}}" src="{{ this }}" alt="">
      {{/each}}
    </div>
  </div>
</div>