<div class="row flex {{ type }} {{ background }}" {{#if background-color}} style="background: {{ background-color }}" {{/if}}>
  <div class="grid-full">
    <div class="row flex">
    {{#if offers}}
      {{#each offers}}
        <div class="grid-quarter">
          <i class="{{ class }}"></i>
          {{ title }}
        </div>
      {{/each}}
    {{else}}
      <ul class="all-offers">
        {{{pages "./src/pages/vara-tjanster/" "/vara-tjanster/" "services"}}}
      </ul>
    {{/if}}
    </div>
  </div>
</div>