<div class="row partial {{ type }} {{ background }}" {{#if background-color}} style="background: {{ background-color }}" {{/if}}>
  <div class="grid-full">
    {{#if offers}}
      {{#each offers}}
        <div class="grid-quarter">
          <i class="{{ class }}"></i>
          {{ title }}
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>
