<div class="row partial {{ type }} {{ background }}" {{#if background-color}} style="background: {{ background-color }}" {{/if}}>
  <div class="grid-full">
    {{#if offers}}
      {{#each offers}}
        <div class="grid-quarter">
          <i class="{{ class }}"></i>
          {{ title }}
        </div>
      {{/each}}
    {{else}}
      <ul class="partial-offers__offers-list">
        {{#pages route="./src/pages/vara-tjanster/" start="/vara-tjanster/" type="services"}}
          {{#each data}}
            <li class="partial-offers__offer">
              <i class="partial-offers__icons {{this.frontmatter.icon}}"></i>
              <div class="partial-offers__offer-content">
                <a href="{{this.url}}">{{this.title}}</a>  
                <p>{{this.frontmatter.description}}</p>
              </div>
            </li>
          {{/each}}
        {{/pages}}
      </ul>
    {{/if}}
  </div>
</div>