<div
  class="row partial quote {{{classList this}}}"
  style="{{{styleHelper this}}}">

  <div class="grid-full">
    {{#if image}}
      <img src="{{ image.src }}" alt="{{ image.alt }}">
    {{/if}}
    <div class="quote__quote">
{{#if quote}}
{{#markdown}}{{ quote }}{{/markdown}}
{{/if}}
{{#if mdtext}}
{{{md mdtext}}}
{{/if}}
    </div>
    <div class="quote__quotee">
      {{ by }}
    </div>
  </div>
</div>
