<div class="row flex {{ type }} {{ background }}" {{#if background-color}} style="background: {{ background-color }}" {{/if}}>
  <div class="grid-full">
    <div class="text">      
{{#markdown}}
{{ quote }}
{{/markdown}}
    </div>
    <div class="by">
      {{ by }}
    </div>
  </div>
</div>