<div
  class="
    row
    partial
    quote
    {{#if background-color}} background-{{{background-color}}} {{/if}}
    {{#if color}} color-{{{color}}} {{/if}}
    {{#if extra-classes}} {{extra-classes}} {{/if}}
  "
  style="
    {{#if background-color}}
      background-color: {{{ hexFromString background-color }}};
    {{/if}}
    {{#if color}}
      color: {{{ hexFromString color }}};
    {{/if}}
  ">
  <div class="grid-full">
    {{#if image}}
      <img src="{{ image.src }}" alt="{{ image.alt }}">
    {{/if}}
    <div class="quote__quote">
{{#if quote}}
{{#markdown}}{{ quote }}{{/markdown}}
{{/if}}
{{#if mdtext}}
{{{md mdtext}}}
{{/if}}
    </div>
    <div class="quote__quotee">
      {{ by }}
    </div>
  </div>
</div>
