{{#selectedCases cases=cases default=default}}
  <div
    class="
      row
      partial
      selected-cases
      count-{{count}}
      {{#if color}} color-{{{color}}} {{/if}}
      {{#if background-color}} background-{{{background-color}}} {{/if}}
    ">
  {{#each data}}
    <div class="selected-cases__block {{#unless thumbnail}} no-image{{/unless}}">
      <div class="selected-case">
        <a href="{{ url }}" class="selected-case__element">
          <span class="selected-case__overlay"></span>
          {{#if thumbnail}}
            <img class="selected-case__image" src={{ thumbnail }} />
          {{else}}
            <div class="selected-case__image-block">
              <div class="fill"></div>
            </div>
          {{/if}}

          <h3 class="selected-case__title">{{ subtitle }}</h3>
        </a>
      </div>
    </div>
  {{/each}}
</div>
{{/selectedCases}}
