<div class="row partial-{{ type }} flex">
  {{#employee name=name}}
    <div class="gravatar">
      <img src="{{ employee.image }}" alt="{{ employee.name }}">
    </div>
    <div class="employee">
      <h2>Kontakta {{ employee.firstName }}</h2>
      <p>{{ ../text }}</p>
      <div class="contact flex">
        <div class="twitter">
          <span class="ion-social-twitter"></span>
          <a href="http://twitter.com/{{ employee.social-media.twitter }}">@{{ employee.social-media.twitter }}</a>
        </div>
        <div class="button">Tipsa</div>
        <div class="button">
          <div class="ion-email"></div>
        </div>
      </div>
    </div>
  {{/employee}}
</div>