<div class="row {{ type }}">
  {{#selectedCases cases=cases}}
    {{#each data}}
      <div class="selected-case">
        <img class="selected-case__image" src="{{ image }}" />
        <article>
          <a href="{{ url }}">
            <h3>{{ subtitle }}</h3>
          </a>
          <p>{{ description }}</p>
          <div class="button">Läs</div>
        </article>
      </div>
    {{/each}}
  {{/selectedCases}}
</div>
