<div class="row {{ type }}">
  <ul>
    {{#selectedCases cases=cases}}
      {{#each data}}
        <li>
          <div class="background" style="background-image:url({{ image }})"></div>
          <a href="{{ url }}">
            <article>
              <h3>{{ subtitle }}</h3>
              <p>{{ description }}</p>
              <ul>
                {{#each categories}}
                  <li>{{ this }}</li>
                {{/each}}
              </ul>
              <div class="button">Läs</div>
            </article>
          </a>
        </li>
      {{/each}}
    {{/selectedCases}}    
  </ul>
</div>