<div class="row partial {{ type }} {{#if narrow}}
    narrow
  {{/if}}">
  <div class="grid-full">
    <ul class="services__list">
      {{#pages route="./src/pages/services/" start="" type=""}}
        {{#each data}}
          {{#unless frontmatter.unpublished }}
          <li>
            <h3>
              <a href="/services/{{this.url}}">
                <i class="{{ this.frontmatter.icon }}"></i>
                {{this.title}}
              </a>
            </h3>
            <p>{{ this.frontmatter.description }}</p>
          </li>
          {{/unless}}
        {{/each}}
      {{/pages}}
    </ul>
  </div>
</div>
