<div class="row {{ type }} {{ background }}"
     style="
{{#if background-color}}
  background-color: {{{ hexFromString background-color }}};
{{/if}}
{{#if color}}
  color: {{{ hexFromString color }}}
{{/if}}">
  <div class="grid-full">
    <div class="text">
{{#markdown}}
{{ text }}
{{/markdown}}
    </div>
    <img src="{{ image.src }}" alt="{{ image.alt }}">
  </div>

</div>
