<div class="row partial-{{ type }} {{ background }}"
     style="
{{#if background-color}}
  background-color: {{{ hexFromString background-color }}};
{{/if}}
{{#if color}}
  color: {{{ hexFromString color }}}
{{/if}}
{{#if background-image}}
  background-image: {{ background-image }};
{{/if}}">
  <div class="grid-full">
    {{#if title}}
      <h3>{{ title }}</h3>
    {{/if}}
    {{#if description}}
      <p>{{ description }}</p>
    {{/if}}
    <ul class="partial-stats__statistics">
    {{#each items}}
      <li class="partial-stats__statistic">
        {{#if icon}}
          <i class="{{ icon }}"></i>
        {{/if}}
        <div class="number">{{ number }}</div>
        <div class="text">{{ text }}</div>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
