<div
  class="
    row
    partial
    team
    {{ type }}
    {{#if background-color}} background-{{{background-color}}} {{/if}}
    {{#if color}} color-{{{color}}} {{/if}}
  "
  style="
    {{#if background-color}}
      background-color: {{{ hexFromString background-color }}};
    {{/if}}
    {{#if color}}
      color: {{{ hexFromString color }}};
    {{/if}}
  ">
  <div class="grid-fullwidth">
    {{#if title}}
      <h3>{{ title }}</h3>
    {{/if}}
    {{#if text}}
      <p>{{ text }}</p>
    {{/if}}
    <ul class="team__team{{#if preview}} preview{{/if}}{{#if centered}} centered{{/if}}">
      {{#team this}}
        {{#each data}}
          <li class="team__team-member">
            {{> coworker this}}
          </li>
        {{/each}}
      {{/team}}
    </ul>
  </div>
</div>
