<div class="row {{ type }} {{ background }} {{#if center}} center {{/if}}" style="{{#if background-color}} background: {{ background-color }}; {{/if}} {{#if color}} color: {{ color }}; {{/if}}">
  <div class="grid-full">
    {{#if title}}
      <h3>{{ title }}</h3>
    {{/if}}
    {{#if text}}
      <p>{{ text }}</p>
    {{/if}}
    <ul>
      {{#team this}}
        {{#each data}}
          <li>
            <a href="{{url}}">
              <img src="{{img}}"/>
              {{frontmatter.name}}
              <div class="job">{{frontmatter.job}}</div>
            </a>
          </li>
        {{/each}}  
      {{/team}}
    </ul>
  </div>
</div>