<div class="row {{ type }} {{ background }}" {{#if background-color}} style="background: {{ background-color }}" {{/if}}>
  <div class="grid-full">
    <ul>
      {{#team this}}
        {{#each data}}
          <li>
            <a href="{{url}}">
              <img src="{{img}}"/>
              {{frontmatter.name}}
              <div class="job">{{frontmatter.job}}</div>
            </a>
          </li>
        {{/each}}  
      {{/team}}
    </ul>
  </div>
</div>