<div class="row {{ type }} {{ background }}" style="background:{{ bg }}">
  <div class="grid-full">
  {{#if image}}
    <img class="{{ image-position }}" src="{{ image.src }}" alt="{{ image.alt }}">
  {{/if}}
{{#markdown}}
{{ content }}
{{/markdown}}
  {{#if mdtext}}
    {{{md mdtext}}}
  {{/if}}
  </div>
</div>