<div class="
  {{#if image-position}} positioned {{/if}}
  {{#if one-line}} one-line {{/if}}
  {{#if parallax}} parallax{{/if}}
  {{#if center}} center {{/if}}
  {{#if divide}} divide {{/if}}
  {{#if animate}} wow fadeIn {{/if}}
  {{#if extra-classes}} {{extra-classes}} {{/if}}
  {{#if background}} has-background {{/if}}
  {{#if background-color}} background-{{{background-color}}} has-background {{/if}}
  {{#if color}} color-{{{color}}} {{/if}}
  "
  style="
  {{#if background-color}}
    background-color: {{{hexFromString background-color }}};
  {{/if}}
  {{#if color}}
    color: {{{ hexFromString color }}};
  {{/if}}
  {{#if background-image}}
    background-image: {{ background-image }};
  {{/if}}
  {{#if padding-top}}
    padding-top: {{ padding-top }};
  {{/if}}
  ">
  <div class="grid-full row text">
    {{#if image}}
    <img
      class="{{ image.position }} col-lg-5"
      src="{{ image.src }}"
      alt="{{ image.alt }}"
      style="
        {{#if image.width}}width:{{image.width}};{{/if}}
        {{#if image.height}}height:{{image.height}};{{/if}}
      " />
    {{/if}}

    {{#if title}}
      <div class="col-xs-5">
        <h3 class="title">{{ title }}</h3>
        </div>
    {{/if}}

    <div class="col-xs {{#if background-color}}{{ background-color }}{{/if}}">
      {{#if content}}
        {{#markdown}}{{ content }}{{/markdown}}
      {{/if}}
      {{#if mdtext}}
        {{{md mdtext}}}
      {{/if}}
      {{#if hbs}}
        {{{hb hbs}}}
      {{/if}}
    </div>
  </div>
</div>
