<div class="
  row
  partial
  {{ type }}
  {{ background }}
  {{#if image-position}}
    positioned
  {{/if}}
  {{#if one-line}}
    one-line 
  {{/if}}
  {{#if parallax}}
    parallax
  {{/if}}
  {{#if center}}
    center
  {{/if}}
  {{#if divide}}
    divide
  {{/if}}
  {{#if animate}}
    wow fadeIn
  {{/if}}
  {{#if extra-classes}}
    {{extra-classes}}
  {{/if}}
  {{#if background}}
    has-background
  {{/if}}
  {{#if background-color}}
    has-background
  {{/if}}
  "
  style="
  {{#if background-color}}
    background:{{ background-color }};
  {{/if}}
  {{#if color}}
    color: {{ color }};
  {{/if}}
  {{#if background-image}}
    background-image: {{ background-image }};
  {{/if}}
  {{#if padding-top}}
    padding-top: {{ padding-top }};
  {{/if}}
  ">
  <div class="grid-full">
  {{#if image}}
    <img
      class="{{ image.position }}"
      src="{{ image.src }}"
      alt="{{ image.alt }}"
      style="
        {{#if image.width}}width:{{image.width}};{{/if}}
        {{#if image.height}}height:{{image.height}};{{/if}}
      " />
  {{/if}}
  <div>
  {{#if content}}
{{#markdown}}{{ content }}{{/markdown}}
  {{/if}}
  {{#if mdtext}}
    {{{md mdtext}}}
  {{/if}}
  {{#if hbs}}
    {{{hb hbs}}}
  {{/if}}
  </div>
</div>
</div>
