<div
  class="{{{classList this}}}"
  style="{{{styleHelper this}}}">

  <div class="grid-full row text">
    {{#if image}}
    <img
      class="{{ image.position }}"
      src="{{ image.src }}"
      alt="{{ image.alt }}"
      style="
        {{#if image.width}}width:{{image.width}};{{/if}}
        {{#if image.height}}height:{{image.height}};{{/if}}
      " />
    {{/if}}

    <div class="row {{#if background-color}}{{ background-color }}{{/if}}">
      {{#if content}}
        {{#markdown}}{{ content }}{{/markdown}}
      {{/if}}
      {{#if mdtext}}
        {{{md mdtext}}}
      {{/if}}
      {{#if hbs}}
        {{{hb hbs}}}
      {{/if}}
    </div>
  </div>
</div>
