<div class="
  row
  {{ type }}
  {{ background }} 
  {{#if one-line}}
    one-line 
  {{/if}}
  {{#if parallax}}
    parallax
  {{/if}}
  {{#if center}}
    center
  {{/if}}
  {{#if divide}}
    divide
  {{/if}}
  {{#if extra-classes}}
    {{extra-classes}}
  {{/if}}
  "
  style="
  {{#if background-color}}
    background:{{ background-color }}; 
  {{/if}}
  {{#if color}}
    color: {{ color }};
  {{/if}}
  {{#if background-image}}
    background-image: {{ background-image }};
  {{/if}}
  {{#if padding-top}}
    padding-top: {{ padding-top }};
  {{/if}}
  ">
  <div class="grid-full">
  {{#if image}}
    <img class="{{ image-position }}" src="{{ image.src }}" alt="{{ image.alt }}">
  {{/if}}
  {{#if content}}
{{#markdown}}
{{ content }}
{{/markdown}}
  {{/if}}
  {{#if mdtext}}
    {{{md mdtext}}}
  {{/if}}
  </div>
</div>