<div class="
  row
  partial
  video
  {{#if extra-classes}} {{ class }} {{/if}}
  {{#if color}} color-{{{color}}} {{/if}}
  {{#if background-color}} background-{{{background-color}}} {{/if}}
  ">
  <video
    {{#if autoplay}} autoplay="autoplay" {{/if}}
    {{#if loop}} loop {{/if}}
    {{#if muted}} muted {{/if}}
    {{#if controls}} controls {{/if}}
    {{#if playbackRate }} playbackRate={{playbackRate}} {{/if}}>
    <source src="{{ file }}" type="video/mp4">
  </video>
</div>
