<div class="row {{ type }} {{ name }}" style="
  {{#if background}}
    background: {{ background }};
  {{/if}}
">
  <div class="grid-full">
    <h2>{{ title }}</h2>
    <p>{{ text }}</p>
  </div>
</div>