---
subtitle: Case
order: 1
layout: default.hbs
---

<div class="row">
  <div class="grid-full">
    <ul class="filters-list">
      {{#categories this}}
        {{#each data}}
        <li class="{{className this}}">{{this}}</li>
        {{/each}}
      {{/categories}}
      <li id="clear-all">
        <i class="ion-close"></i>
      </li>
    </ul>
  </div>
</div>

<div class="row flex cases">
  <div class="grid-full">
    <ul class="cases-list">
      {{#pages '{}'}}
        {{#each data}}
          <li class="{{ frontmatter.categoriesHTMLFriendly }}"
          style="
            {{#if frontmatter.background}}
              background: {{ frontmatter.background }};
            {{/if}}
            {{#if frontmatter.color}}
              color: {{ frontmatter.color }};
            {{/if}}
          ">
            <a href="{{ url }}">
              {{ title }}
            </a>
          </li>
        {{/each}}
      {{/pages}}
    </ul>

  </div>
</div>
