---
subtitle: Case
order: 1
layout: default.hbs
---
<ul>
    {{#categories this}}
      {{#each data}}
      <li>{{this}}</li>
      {{/each}}
    {{/categories}}
</ul>

<div class="row flex cases">
  <div class="grid-full">
    <ul>
      {{#pages '{}'}}
        {{#each data}}
          <li class="{{this.frontmatter.categories}}">
            <a href="{{this.url}}">
              {{#if this.logo}}
                <img src="{{this.logo}}"/>
              {{/if}}
              {{this.title}}
            </a>
          </li>
        {{/each}}
      {{/pages}}
    </ul>

  </div>
</div>
