---
subtitle: Medarbetare
order: 1
layout: default.hbs
---

<div class="row coworkers">
  <div class="grid-full">
    <ul>
      {{#pages '{"route": "./src/pages/medarbetare/", "start": "", "type": "coworker", "size": 300}'}}
        {{#each data}}
          <li>
            {{#if this.logo}}
            <a href="{{this.url}}">
              <img src="{{this.logo}}"/>
            </a>
            {{/if}}
            <div>
              <a href="{{this.url}}">{{this.title}}</a>  
              <p>{{this.frontmatter.job}}</p>
            </div>
          </li>
        {{/each}}
      {{/pages}}
    </ul>
  </div>
</div>