---
subtitle: Medarbetare
order: 1
layout: default.hbs

navigation: true
contact: true
text:
  type: text
  center: true
  mdtext: coworkers
---

{{> text text}}

<div class="row coworkers">
  <div class="grid-full">
    <ul>
      {{#pages '{"route": "./src/pages/medarbetare/", "start": "", "type": "coworker", "size": 500}'}}
        {{#each data}}
          <li>
            <a href="{{ url }}">
              {{#if logo}}
                <img src="{{ logo }}"/>
              {{/if}}
              <div class="outer">
                <div class="inner">
                  <h3>{{ this.name.first }} <span>{{ this.name.last }}</span></h3>
                  <p class="job">{{this.frontmatter.job}}</p>
                </div>
              </div>
            </a>
          </li>
        {{/each}}
      {{/pages}}
    </ul>
  </div>
</div>