---
layout: default.hbs
---

<div class="row text center">
  <div class="grid-full align-top">
    <h1>{{name}}</h1>
    <div><strong>{{email}}</strong></div>
    <div>{{job}}</div>
  </div>
  <div class="grid-full align-top">
    {{#in partials "type" "text"}}
      {{#if title}}
        <h1>{{title}}</h1>
      {{/if}}
      <p>{{content}}</p>
    {{/in}}
  </div>
  <div class="grid-full align-top">
    {{#in partials "type" "github"}}
      {{>github this}}
    {{/in}}
  </div>
</div>

{{#unless contact}}
  {{> contact}}
{{/unless}}