---
layout: default.hbs
---

<div class="row text center light">
  <div class="grid-full align-top">
    <h1>{{name}}</h1>
    <div><strong>{{email}}</strong></div>
    <div>{{job}}</div>
  </div>
</div>

<div class="row text center">
  <div class="grid-full align-top">
    {{#in partials "type" "text"}}
      {{#if title}}
        <h2>{{title}}</h2>
      {{/if}}
      <p>{{content}}</p>
    {{/in}}
  </div>
</div>
<div class="row text center">
  <div class="grid-full">
    <div class="row flex">
      {{#if social-media.github}}
        {{>github social-media}}
      {{/if}}
      {{#if social-media.blog}}
        {{>blog social-media}}
      {{/if}}
    </div>
  </div>
</div>

{{#unless contact}}
  {{> contact}}
{{/unless}}