---
layout: default.hbs

instagram-count: 4
instagram-resolution: normal
github-count: 5
blog-count: 5
---

<div class="coworker">
  <div
    class="row partial image wow fadeIn"
    style="height: 300px; background-position: center center; background-image:url({{ top-image }})">
    <div class="image__content">
      <div class="image__title wow fadeInUp">
        {{ name }}
        <div class="image__subtitle">{{ job }}</div>
      </div>
    </div>
  </div>

  {{> social-media social-media}}

  <div class="row partial boxes">
    <div class="grid-full">
      <div class="row boxes">
        {{#each texts.about}}
        <div class="box-position {{position}}">
          <h3>{{title}}</h3>
          <p>{{{content}}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{#if social-media.instagram}}
    <div class="partial instagram wow fadeIn">
      {{> instagram this}}
    </div>
  {{/if}}

  {{#if social-media.blog}}
    <div class="partial blog">
      {{> blog this}}
    </div>
  {{/if}}
</div>
