---
layout: default.hbs

instagram-count: 4
instagram-resolution: high
github-count: 5
blog-count: 5
---

<div class="coworker">
  <div class="row text center light no-padding-bottom" style="background-image:url({{ top-image }})">
    <div class="grid-full align-top">
      <div class="inner">
        <h1>{{ name }}</h1>
        <div><strong><a href="mailto:{{ email }}">{{ email }}</a></strong></div>
        <div>{{ job }}</div>
      </div>
    </div>
  </div>

  {{> social-media social-media}}

  <div class="row boxes">
    <div class="grid-full">
      <div class="row boxes">
        {{#each texts.about}}
        <div class="box-position {{position}}">
          <h3>{{title}}</h3>
          <p>{{{content}}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{#if social-media.instagram}}
    <div class="instagram">
      {{> instagram this}}
    </div>
  {{/if}}

  {{#if social-media.blog}}
    <div class="blog">
      {{> blog this}}
    </div>
  {{/if}}

  {{#if social-media.github}}
    <div class="row github">
      {{> github this}}
    </div>
  {{/if}}
</div>