---
layout: default.hbs
---

<div class="row text center light">
  <div class="grid-full align-top">
    <h1>{{name}}</h1>
    <div><strong>{{email}}</strong></div>
    <div>{{job}}</div>
  </div>
</div>
<div class="row">
  <div class="grid-full">
    <div class="row cols-2">
      {{#each texts.about}}
        <div class="col-box">
          <h2>{{title}}</h2>
          <p>{{{content}}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<div class="row text center">
  <div class="grid-full">
    <div class="row flex">
      {{#if social-media.github}}
        {{>github social-media}}
      {{/if}}
      {{#if social-media.blog}}
        {{>blog social-media}}
      {{/if}}
    </div>
  </div>
</div>

{{#unless contact}}
  {{> contact}}
{{/unless}}